<div fxLayout="row" fxLayout="row wrap">
  <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
    <trg-round-progressbar [title]="'Branch 1'" [current]="'60'" [max]="'100'" [background]="'#FFF968'" [color]="'#B1A7FF'"
                           [boxcolor]="'#7986CB'"></trg-round-progressbar>
  </div>
  <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
    <trg-round-progressbar [title]="'Branch 2'" [current]="'44'" [max]="'100'" [background]="'#FFE268'" [color]="'#A7C1FF'"
                           [boxcolor]="'#42A5F5'"></trg-round-progressbar>
  </div>
  <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
    <trg-round-progressbar [title]="'Branch 3'" [current]="'37'" [max]="'100'" [background]="'#FFC368'"
                           [color]="'#A7F0FF'" [boxcolor]="'#26A69A'"></trg-round-progressbar>
  </div>
  <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
    <trg-round-progressbar [title]="'Branch 4'" [current]="'21'" [max]="'100'" [background]="'#FFCF68'"
                           [color]="'#A7DEFF'" [boxcolor]="'#26C6DA'"></trg-round-progressbar>
  </div>
</div>
